body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

.background-images {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    height: 669px;
    background-size: 1920px 669px;
    padding-top: 5%;

}

.donation-first-heading {
    color: white;
    font-size: 65px;
    font-weight: 700;
    margin-block-start: 0%;
    margin-block-end: 0%;

}

.donation-details {
    color: white;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 1%;

}

.donate-button {
    background-color: #FF5959;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.donate-button:hover {
    background-color: royalblue;
    transition: 0.5s;
}

.donation {
    text-align: center;
}

.donate-amount-part {
    text-align: center;
}


.donate-today {
    font-size: 60px;
    font-weight: 700;
    color: #121212;
    margin-block-end: 0%;
}

.donate-today-details {
    color: #707070;

}

.donate-taka {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 2%;

}

.two-hundrade-taka {
    color: tomato;
    font-size: 25px;
    font-weight: 700;
    width: 145px;
    height: 123px;
    background-color: #ffe3e3;
    border: 2px solid #FF5959;
    border-radius: 5px;

}

.amount-taka {
    color: #707070;
    font-size: 25px;
    width: 145px;
    height: 123px;
    background-color: #FAFAFA;
    border-radius: 5px;

}

.other-amount {
    padding-top: 3%;
    text-align: center;
}

strong {
    color: #B3B3B3;
    font-size: 18px;
    font-weight: 400;
}

.underline-other-amount {
    border: 1px solid #DADADA;
    width: 765px;
}

.donate-button-div {
    text-align: center;
    padding-top: 2%;
}

.donate-button-two {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: 700;

}

.flex-item {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.donate-plan-items {
    background: lightskyblue;
    margin: 30px 10px;
    padding: 10px 5px;

}

.donate-plans-contain {
    text-align: center;
    padding-top: 5%;

}

.donate-plan {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    margin-block-end: 0%;
    margin-top: 50px;

}

.donate-plan-details {
    color: #707070;
}

.flex-items {
    display: flex;
    width: 1170px;
    margin: auto;
    padding-top: 20px;
}

.card-one {
    background: rgba(255, 89, 89, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px lightgrey;
}

.card-two {
    background: rgba(79, 157, 166, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px lightgrey;
}

.card-three {
    background: #FFF4D6;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px lightgrey;
}

.card-details {
    color: #707070;

}

.flex-girl {
    display: flex;
    flex-wrap: nowrap;
    gap: 94px;
    padding: 7% 60px;
    width: 1170px;
    margin: auto;
}

.flex-girl img {
    width: 500px;
    height: 477px;
    border-radius: 5px;

}

.depended-heading {
    font-size: 45px;
    color: #121212;
    margin-block-end: 0%;
}

.contribute-button {
    text-decoration: none;
    background-image: linear-gradient(red, green);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.flex-girl-two {
    display: flex;
    flex-wrap: nowrap;
    gap: 70px;
    padding: 2% 60px;
    width: 1170px;
    margin: auto;
}

.flex-girl-two img {
    width: 100%;
}

.underline-section {
    border: 1px solid #DADADA;
    width: 1250px;
}